html, body {
    font-family: Roboto, sans-serif;
}

.container {
    width:50%;
    height:250px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-25%;
    margin-top:-125px;
    text-align: center;
}

.sound-wave {
    box-sizing: border-box;
    border-radius:10px;
    margin-bottom:1em;
}

.fab {
    margin-left: auto;
    margin-right: auto;
}