<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">DB Workshop 5/14</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/new">Add a new poll!</a></li>
    </ul>
  </div>
</nav>